<footer class="footer-hs navbar-fixed-bottom">
    <div class="container-fluid">
        <p><a href="/admin">Admin Panel</a> | <a href="https://github.com/ahang/secondOpinion">GitHub Repo</a> | <a href="/docs">Doctors</a> | <a href="/about">About</a></p>
        <p>&copy; 2017 <a href="/">Second Opinion</a></p>

    </div>
</footer>