<header class="header-hs">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
   		<a class="navbar-brand" href="/">
        <img class="logo" alt="Brand" src="assets/betterLogonewback.jpg"></a>
    </div>
    <div class="col-md-8">
    {{#if user}}
      <p>Welcome, {{user.firstname}}</p>
      <p class="navbar-text navbar-right"><a href="/logout">Log Out</a></p>
    {{else}}
      <form id="signin" name="signin" method="post" action="signin">
      	    <label for="email">Email Address</label>
      	    <input class="text" name="email" type="text" />
      	    <label for="password">Password</label>
      	    <input name="password" type="password" />
      	    <input class="btn" type="submit" value="Sign In" />
          </div>
      </form>
    {{/if}}
  </div>


</nav>

</header>