<header class="header-hs">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
   		<a class="navbar-brand" href="/">
        <img class="logo" alt="Brand" src="assets/betterLogonewback.jpg"></a>
    </div>
    <div class="col-md-3 col-md-offset-3 navbar-text navbar-right">
    {{#if user}}
      <p class="user-text">Welcome, {{user.firstname}} {{user.lastname}}</p>
      <p><a href="/logout">Log Out</a></p>
    {{else}}
    {{/if}}
  </div>


</nav>

</header>