<header class="header-hs">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
   		<a class="navbar-brand" href="/">
        <img class="logo" alt="Brand" src="assets/betterLogonewback.jpg"></a>
    </div>
    <div class="col-md-8">
    {{#if user}}
      <p>Welcome, {{user.firstname}} {{user.lastname}}</p>
      <p class="navbar-text navbar-right"><a href="/logout">Log Out</a></p>
    {{else}}
    {{/if}}
  </div>


</nav>

</header>