<div class="container">
	<h3 class="about-header">About Second Opinion</h3>

	<p>Second Opinion was developed by 5 developers, to assists patients who desire additional advice on a sudden diagnosis and have been given a risky or intense treatment recommendations.</p>

	<p>There is a growing market for online medical second opinions. The work flow of most of these sites requires patients to upload their medical records, test results, and pay a certain fee, without insurance being included. Once the business receives the information, they will then pick a doctor that they are in contract with and the doctor gives their opinion to the patient. The problem with this is that the patient doesn't get to pick the doctor and the patient has no idea if the doctor is a better doctor than the one they already have. Also, in the case that the patient has a complicated case, they can't verify that the assigned doctor took the time to read the patient's record correctly before giving an accurate diagnosis.</p>

	<p>The second opinion you get from these sites, does not always provide the peace of mind you need. Other options may include asking your existing doctor for a reference, but they might send you to another doctor that is in the same network, or people they know that typically agree with them. All this is not very scientific.</p>

	<p>The solution is simple, this app will list doctors in the region of the patient that pratices in the specialty of the patient's issue of concern. This app will select doctors as second opinions based on their years of experience, education, awards, publications, clinical trials, etc. Finally, this app offer the patients a recommendation of doctors they should see that is of comparable or superior quality to the doctor that they currently have.</p>

</div>