<div class="container">
    <div class="col-md-12">
        <form class="create-form add-patient" action="/" method="POST">
            <div class="form-group">
                <label for="patient_name">Name:</label>
                <input type="text" name="" id="patient_name" placeholder="Full Name">
                <h4>What type of specialist are you looking for?</h4>
                <select data-placeholder="" class="speciality-select" id="speciality">
                    <option value="allergist">Allergist</option>
                    <option value="anesthesiologist">Anesthesiologist</option>
                    <option value="cardiologist">Cardiologist</option>
                    <option value="cardiovascular">Cardiovascular</option>
                    <option value="orthopaedic">Orthopaedic</option>
                    <option value="proctology">Proctology</option>
                    <option value="surgeon">Surgeon</option>
                    <option value="radiology">Radiology</option>
                </select>
                <button type="submit" class="btn btn-primary">Submit Information</button>
            </div>
        </form>
    </div>
</div>
