<div class="container-fluid">

    <div class="col-md-4 steve">
        <img class="dcbrown" src="/assets/dcbrown.jpg">
    </div>

    <div class="col-md-4 george">
        <p class="welcome-text">
            Welcome to Second Opinion! An application to help you to get another opinion with what your doctor has told you!
        </p>
    </div>

    <div class="col-md-4 dave">

    </div>

</div>