Index page

<div class="container">

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
    	<form class="form-horizontal" id="signup" name="signup" method="post" action="/signup">
    		<div class="form-group">
    			<label for="email">E-mail Address</label>
    			<input type="email" class="text form-control" name="email"/>
    			<label for="username">Username</label>
    			<input type="text" class="form-control" name="username"/>
    			<label for="firstname">First Name</label>
    			<input type="text" class="form-control" name="firstname"/>
    			<label for="lastname">Last Name</label>
    			<input type="text" class="form-control" name="lastname"/>
    			<label for="password">Password</label>
    			<input type="password" class="form-control" name="password"/>  	
    			<input class="btn btn-danger" type="submit" value="Sign Up"/>
    		</div>
    	</form>


    </div>

</div>