<div class="container main-screen">

    <div class="col-md-6 steve">
        <img class="dcbrown" src="/assets/dcbrown.jpg">
    </div>

    <div class="col-md-6 steve">
        <p class="welcome-text">
            Need a Second Opinion? Look no further! Here's an application to help you to get another opinion from a doctor!! Give us some info and we'll find some other doctors for you to go talk to! 
        </p>
        <br>
        <br>
        {{#if user}}
        	<a class="btn btn-primary btn-lg btn-block" href="/dashboard" role="button"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Search For Doctor <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>

        {{/if}}
    </div>

</div>


