.gandalf {
    margin: 0 auto;
}

.meds {
	margin: 0 auto;
	position: static;
}

.footer-hs {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

body {

}

h1 {
	color: #248f8f;
	text-shadow: 0 0 5px #0099cc, 0 0 10px #0099cc,
             0 0 20px #0099cc, 0 0 30px #0099cc,
             0 0 40px #0099cc;
}

h2 {
	font-size: 14px;
	color: #2eb8b8;
	
}